@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

nav {
    background:#b43f09fd;
    padding: 10px 0px;
    
}

NavbarBrand {
    font-size: large;
    font-weight: 500;
    
}
NavLink {
    color: black;
}
