@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

nav {
    background:#c0540cfd;
    padding: 10px 0px;   
}

Nav a {
    margin: 5px 30px;
    color: rgb(247, 238, 238);
   }
img {
       width: 30%;
       height: 30%;
   }
